/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
button {
  border-radius: 60px;
  border: black solid 1px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #1d6154;

  font-size: 16px;
}

.btn-login {
  margin-top: 20px;
  width: 179px;
  display: flex;
  align-self: center;
  background-color: rgba(29, 97, 84, 1);
  color: white;
  height: 36px;
}

.mdp {
  display: flex;
  flex-direction: center;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#boutton {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
.pcg a {
  color: black;
  text-decoration: none;
}
nav a {
  color: black;
  text-decoration: none;
}

.modal {
  display: none; /* Cachée par défaut */
  position: fixed;
  z-index: 1000; /* Au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permet le défilement si nécessaire */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.modal-content {
  background-color: white; /* Fond blanc pour la modale */
  margin: 15% auto; /* Positionnement vertical */
  padding: 20px;
  border: 1px solid #888;
  width: 630px;
  height: 688px;
}
.modal-content h2 {
  justify-content: center;
  align-self: center;
  display: flex;
}

#editTitle {
  display: flex;
  justify-content: center;
}

.modifier {
  display: none;
  justify-content: center;
  gap: 10px;
}

#editButton {
  border: none;
  color: black;
}

.crayon {
  padding-top: 10px;
}

#edition {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 30px;
  padding-top: 10px;
}
#edition h2 {
  font-size: 12px;
  color: white;
}
#addPhotoButton {
  position: absolute;
  bottom: 1px;

  left: 43%;
  background-color: #1d6154;
  color: white;
  width: 200px;
  height: 40px;
}
.gal {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  color: black;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 670px; /* Ajustez selon vos besoins */
}

.modal-gallery {
  flex: 1; /* Prend tout l'espace disponible */
  overflow-y: auto; /* Ajoute un défilement si nécessaire */
}

#addPhotoButton {
  margin-top: auto; /* Pousse le bouton en bas */
  width: 237px;
}
#myModal img {
  width: 76px;
  height: 102px;
  display: fle;
  padding: none;
}

.gallery-item {
  position: relative; /* Permet de positionner l'icône par rapport à l'élément */
}

.trashIcon {
  position: absolute;
  top: 1px;
  height: 17px !important;
  width: 17px !important;
  right: 123px;
}

#addPhotoForm {
  display: flex;
  width: 420px;
  justify-content: center;
  flex-direction: column;
  align-self: CENTER;
}
.ajout {
  display: flex;
  justify-content: center;

  color: black;
}

#addPhotoForm label {
  width: 420px;
  height: 51px;
  margin-top: 10px;
}

#addPhotoForm button {
  width: 237px;
  height: 36px;
  margin-top: 20px;
  align-self: center;

  background-color: rgba(203, 214, 220, 1) !important;

  color: rgba(48, 102, 133, 1);

  border: none;
}

.tout {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#addPhotoForm input {
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#closeModalAutre {
  display: flex;
  flex-direction: row-reverse;
  font-size: 30px;
}

#closeModal {
  display: flex !important;
  flex-direction: row-reverse !important;
  font-size: 30px !important;
}

.carre {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 167px; /* Ajuste la hauteur si besoin */
  width: 100%;
  background-color: rgba(232, 241, 246, 1);
  flex-direction: column;
  padding: 20px;
}

.carre img {
  width: 76px; /* Largeur de l'image */
  height: 76px; /* Hauteur de l'image */
}

.carre button {
  display: flex;

  background-color: #a7a7a7 !important;

  margin: 10px;
}

#categorySelect {
  height: 51px;
  width: 420px;
  margin-top: -25px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#categorySelect button {
  margin-bottom: 100px;
  background-color: rgba(167, 167, 167, 1) !important;
}

#categorySelect submit {
  background-color: rgba(167, 167, 167, 1) !important;
  color: white;
}

.valider {
  background-color: #1d6154;
}

#file-upload-button {
  display: flex;
  justify-content: center;
  align-self: center;
}
.fleche {
  display: flex;

  height: 4%;
  align-self: flex-start;
}
.loglog {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.loglog h2 {
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
}
.loglog p {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.log {
  position: fixed; /* Fixe le footer */
  bottom: 20px; /* Positionne le footer à 20 pixels du bas */
  right: 0; /* Le place à droite */

  color: rgba(0, 0, 0, 1);

  text-align: center; /* Centre le texte */
  padding: 10px; /* Espace autour du texte */
}
.loglog a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
  text-decoration: underline;
}
#workForm {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 235px;
  align-self: center;
}
#workForm input {
  width: 379px;
  height: 51px;
  align-self: center;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
}

#workForm label {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -65px;
}

#photoFile {
  border-radius: 10px;
}

.ajouuut {
  margin-top: 0px !important;

  display: flex;
  justify-content: center;
  align-self: center;
}

#photoUploadButton {
  display: flex;
  justify-content: center;
  align-self: center;
}

.texte {
  margin-top: 20px;
  margin-bottom: 10px;
}

#area {
  margin-bottom: -30px !important;
}

#confirmDelete {
  display: flex;
  width: 20%;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
}

#cancelDelete {
  display: flex;
  width: 20%;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}
